.day {
    color: lightgrey;
    justify-content: center;
    margin: 0 auto;
    border-radius: 30px;

}
#meal_plan{
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px  solid black;
    border-radius: 30px;
    color: lightgrey;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
}

.meal{
    width: 30em;
    height: 2em;
    border-radius: 1em;
    padding-left: 0.5em;
    border: 1px solid black;
}
#meal_menu{
    display: inline-flex;
    flex-direction: column;
    color: lightgrey;
    justify-content: center;
}