<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='./stylesheets/main.css') }}">
    {% endblock stylesheet%}

    <title>Manna</title>

</head>
<body>
<nav class="navbar">
    <a href="#" class="logo">Manna</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/caloric_calculator">Caloric Calculator</a></li>
        <li><a href="#">Food Diary</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Meal Plans </a></li>
        <li>
            {% if name %}
            <a href="/logout">Log out</a>.
            {% else %}
            <a href="/login">Log in</a>.
            {% endif %}
        </li>
    </ul>
</nav>
<div class="container">
    {% block body %}

    {% endblock %}

</div>

</body>
</html>