{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='./stylesheets/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./stylesheets/mealplan.css') }}">

{% endblock %}

{% block body %}
    <br>
    <div id="meal_plan">
        <form id="meal_plan_form">
            <br>

            <div class="day">
                <h2>Sunday</h2>
                <br>
                <label>
                    Breakfast
                    <input class="meal" id="sun_b" name="sun_b" type="text">
                </label>
                <label>
                    Lunch
                    <input class="meal" name = "sun_l" type="text">
                </label>

                <label>
                    Dinner
                    <input class="meal" name = "sun_d" type="text">
                </label>

            </div>
            <br>

            <div class="day">
                <h2>Monday</h2>
                <br>
                <label>
                    Breakfast
                    <input class="meal" name="mon_b" type="text">
                </label>
                <label>
                    Lunch
                    <input class="meal" name="mon_l" type="text">
                </label>
                <label>
                    Dinner
                    <input class="meal" name="mon_d" type="text">
                </label>
            </div>
            <br>
            <div class="day">
                <h2>Tuesday</h2>
                <br>
                <label>
                    Breakfast
                    <input class="meal" name="tues_b" type="text">
                </label>

                <label>
                    Lunch
                    <input class="meal" name="tues_l" type="text">
                </label>

                <label>
                    Dinner
                    <input class="meal" name="tues_d" type="text">
                </label>

            </div>
            <br>
            <div class="day">
                <h2>Wednesday</h2>
                <br>
                <label>
                    Breakfast
                    <input class="meal" name="wed_b" type="text">
                </label>
                <label>
                    Lunch
                    <input class="meal" name="wed_l" type="text">
                </label>
                <label>
                    Dinner
                    <input class="meal" name="wed_d" type="text">
                </label>
            </div>
            <br>
            <div class="day">
                <h2>Thursday</h2>
                <br>
                <label>
                    Breakfast
                    <input class="meal" name = "thurs_b" type="text">
                </label>
                <label>
                    Lunch
                    <input class="meal" name = "thurs_l" type="text">
                </label>
                <label>
                    Dinner
                    <input class="meal" name = "thurs_d" type="text">
                </label>
            </div>
            <br>
            <div class="day">
                <h2>Friday</h2>
                <br>
                <label>
                    Breakfast
                    <input class="meal" name = "fri_b" type="text">
                </label>
                <label>
                    Lunch
                    <input class="meal" name = "fri_l" type="text">
                </label>
                <label>
                    Dinner
                    <input class="meal" name = "fri_d" type="text">
                </label>
            </div>
            <br>
            <div class="day">
                <h2>Saturday</h2>
                <br>
                <label>
                    Breakfast
                    <input class="meal" name = "sat_b" type="text">
                </label>
                <label>
                    Lunch
                    <input class="meal" name = "sat_l" type="text">
                </label>
                <label>
                    Dinner
                    <input class="meal" name = "sat_d" type="text">
                </label>
            </div>
            <br>

            <button type="button" onclick="submitMealPlan()">Submit</button>
        </form>
    </div>


<script>
    async function submitMealPlan() {
        const form = document.getElementById("meal_plan_form");
        const formData = {};
        const inputs = form.querySelectorAll("input");

        inputs.forEach((input) => {
            formData[input.name] = input.value;
        });

        console.log(formData); // Debug: Check data structure before sending.

        try {
            const response = await fetch('/process_meal_plan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            });

            // If successful, redirect
            if (response.ok) {
                const responseText = await response.text();

                // Load the response (rendered HTML page) into the current window
                document.open();
                document.write(responseText);
                document.close();
            } else {
                console.error('Error submitting meal plan:', response.statusText);
                alert('Failed to submit the form!');
            }
        } catch (error) {
            console.error('Request failed:', error);
            alert('An error occurred while submitting.');
        }
    }
</script>
{% endblock %}