{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='./stylesheets/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./stylesheets/mealplan.css') }}">

{% endblock %}

{% block body %}
    <div id="meal_plan">
        <form id="meal_plan_form" action="/meal_plan" method="post">
            <br>

            <div class="day">
                <h2>Sunday</h2>
                <label>
                    Breakfast
                    <input class="meal" type="text">
                </label>
                <br>
                <label>
                    Lunch
                    <input class="meal" type="text">
                </label>
                <br>

                <label>
                    Dinner
                    <input class="meal" type="text">
                </label>
            </div>

            <div class="day">
                <h2>Monday</h2>
                <label>
                    Breakfast
                    <input class="meal" type="text">
                </label>
                <br>
                <label>
                    Lunch
                    <input class="meal" type="text">
                </label>
                <br>
                <label>
                    Dinner
                    <input class="meal" type="text">
                </label>
            </div>
            <br>
            <input type="submit">
        </form>
    </div>



{% endblock %}